<app-app-parent-index [indexTitle]="title">
    <div index-action></div>
    <div index-filter></div>
  
    <div index-body>
      <form [ngClass]="{'was-validated': submitExecuted && wdKnowModel.isNotValid==true}">
        <div class="form-group">
          <label class="font-weight-bold" for="name">{{ 'general.label_name' | translate }}</label>
          <input type="text" class="form-control" id="name" name="name" #name="ngModel" 
            [(ngModel)]="wdKnowModel.name"
            [readonly]="wdKnowModel.isReadOnlyMode" required>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="summary">{{ 'wdknowledge.label_summary' | translate }}</label>
          <textarea [(ngModel)]="wdKnowModel.summary" name="summary" #summary="ngModel" class="form-control rounded-0"
            id="summary" rows="6" cols="155" maxlength=500 
            [readonly]="wdKnowModel.isReadOnlyMode"
            required></textarea>
          <small id="helperOpenUrl" class="form-text text-muted">{{wdKnowModel.summary.length}} {{ 'general.label_of' |
            translate }} 500</small>
        </div>
        <div class="form-group">
          <label for="url">{{ 'general.url' | translate }}</label>
          <div class="input-group">
            <input type="text" class="form-control" id="url" name="url" #url="ngModel" 
            [(ngModel)]="wdKnowModel.url"
            [readonly]="wdKnowModel.isReadOnlyMode">
            <div class="input-group-append" (click)="openExternalLink()">
              <span class="input-group-text item-action" id="basic-addon2"><i
                  class="fas fa-external-link-square-alt fa-lg"
                  title="{{ 'general.label_open_url' | translate }}"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="matFormFieldTags">{{ 'general.label_tags' | translate }} ({{'wdknowledge.text_help_tags' |
            translate}} {{tagModel.maxSizeValues}})</label>
          <mat-form-field id="matFormFieldTags" class="example-chip-list" appearance="fill">
            <mat-label>{{ 'general.label_keywords' | translate }}</mat-label>
            <mat-chip-list #chipList aria-label="Selection">
              <mat-chip *ngFor="let tagItem of tagModel.values" [selectable]="tagModel.selectable"
                [removable]="tagModel.removable" (removed)="remove(tagItem)">
                {{tagItem.name}}
                <mat-icon matChipRemove *ngIf="tagModel.removable">cancel</mat-icon>
              </mat-chip>
              <input *ngIf="!wdKnowModel.isReadOnlyMode" placeholder="{{ 'wdknowledge.label_new_tag' | translate }}" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="tagModel.separatorKeysCodes" [matChipInputAddOnBlur]="tagModel.addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="description">{{ 'general.description' | translate }}</label>
          <textarea [(ngModel)]="wdKnowModel.description" name="description" #description="ngModel"
            class="form-control rounded-0" id="description" rows="9" cols="155" maxlength=1000
            [readonly]="wdKnowModel.isReadOnlyMode"></textarea>
          <small id="helperOpenUrl" class="form-text text-muted">{{wdKnowModel.description.length}} {{ 'general.label_of'
            |
            translate }} 1000</small>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <hr>
          </div>
        </div>
        <div class="row">
  
          <div class="col-md-3 col-lg-3 text-left">
            <button (click)="cancelAction()" type="button" class="btn  btn-secondary">{{
              'general.label_cancel' | translate }}</button>
          </div>
          <div class="col-md-3 col-lg-3"></div>
          <div class="col-md-3 col-lg-3 text-right">
          </div>
          <div *ngIf="!wdKnowModel.isReadOnlyMode" class="col-md-3 col-lg-3 text-right">
            <button (click)="confirmationAction()" type="button" class="btn btn-primary"
             [disabled]="!validateSubmit()">
              {{'general.label_save' | translate }}</button>
          </div>
          <div *ngIf="wdKnowModel.isReadOnlyMode" class="col-md-3 col-lg-3 text-right">
            <button (click)="onEdit()" type="button" class="btn btn-primary">
              {{'general.label_edit' | translate }}</button>
          </div>
  
        </div>
      </form>
  
    </div>
  </app-app-parent-index>