<app-app-parent-index [indexTitle]="title">

  <div index-action>
    <button (click)="reloadResults()" type="button" class="btn btn-secondary mr-3"><i class="fas fa-search"></i>
      {{ 'general.label_filter' | translate }}</button>
    <button (click)="openCreateModal(CreateAccessLinkModal,null)" type="button" class="btn btn-primary"><i
        class="fas fa-plus-circle"></i>
      {{ 'general.label_create' | translate }}</button>
  </div>

  <div index-filter>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <form (ngSubmit)="reloadResults()" novalidate>
          <div class="input-group">
            <input type="text" placeholder="{{ 'general.label_search' | translate }}" class="form-control"
              [(ngModel)]="queryFilter.query" name="query" aria-describedby="basic-addon1"
              (keydown)="onSearchKeyDown($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit"
                title="{{ 'home.label_create_accesslink' | translate }}"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <small id="helperOpenUrl" class="form-text text-muted">{{
            'home.link_text_helper_ctrl_enter' | translate}}</small>
        </form>
      </div>
    </div>
  </div>

  <div index-body>

    <div *ngIf="showSection('loading')" class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">{{ 'general.label_loading' | translate }}</span>
      </div>
    </div>

    <div *ngIf="showSection('not_found_results')" class="row mt-3">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h4>{{ 'general.message_not_found_results' | translate }}</h4>
        </div>
      </div>
    </div>


    <div *ngIf="showSection('results')" class="row mb-3">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="float-right">
          <app-app-page-limit (onSelectedPageOption)="onSelectedPageLimitOptionEvent($event)"></app-app-page-limit>
        </div>
      </div>
    </div>

    <div *ngIf="showSection('results')" class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr class="d-flex">
                <th class="col-4" scope="col">{{ 'general.title' | translate }}</th>
                <th class="col-6" scope="col">{{ 'general.description' | translate }}</th>
                <th class="col-2" scope="col">{{ 'general.label_actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="d-flex" *ngFor="let item of indexModel.result">
                <td class="col-4">
                  <span>
                    <a target="_blank" href="{{item.url}}">{{item.title}}</a>
                  </span>
                </td>
                <td class="col-6">
                  <span *ngIf="item.description && item.description!=null">
                    {{item.description | textSubstring: 0 : 50 : '...'}}
                  </span>
                  <span *ngIf="!item.description || item.description==null">
                    -
                  </span>
                </td>
                <td class="col-2">
                  <!--<span (click)="openExternalLink(item.url)" class="item-action"><i
                      class="fas fa-external-link-square-alt fa-lg"
                      title="{{ 'general.label_access' | translate }}"></i></span>-->
                  <span (click)="onCopy(item)" class="item-action"><i class="fas fa-copy fa-lg"
                      title="{{ 'general.label_copy' | translate }}"></i></span>
                  <span (click)="openCreateModal(CreateAccessLinkModal,item)" class="ml-4 item-action"><i
                      class="fas fa-edit fa-lg" title="{{ 'general.label_edit' | translate }}"></i></span>
                  <span (click)="openConfirmationDialog(item._id)" class="ml-4 item-action"><i
                      class="fas fa-trash-alt fa-lg" title="{{ 'general.label_remove' | translate }}"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="showSection('results')" class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="float-right">
          <app-pagination (onSelectedPage)="onSelectedPageEvent($event)" [total]="indexModel.count"
            [sizePage]="pageFilter.limit"></app-pagination>
        </div>
      </div>
    </div>

  </div>

</app-app-parent-index>

<ng-template #CreateAccessLinkModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">{{ 'general.label_create' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeCreateModel('CLOSE')">
      <span class="text-white" aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [ngClass]="{'was-validated': accessLinkEntity.isNotValid==true}">
      <div class="form-group">
        <label class="font-weight-bold" for="title">{{ 'general.title' | translate }}</label>
        <input type="text" class="form-control" id="title" name="title" #title="ngModel"
          [(ngModel)]="accessLinkEntity.title" [readonly]="accessLinkEntity.wdReadOnly" required>
      </div>
      <div class="form-group">
        <label class="font-weight-bold" for="url">{{ 'general.url' | translate }}</label>
        <input type="text" class="form-control" id="url" name="url" #url="ngModel" [(ngModel)]="accessLinkEntity.url"
          [readonly]="accessLinkEntity.wdReadOnly" required>
      </div>
      <div class="form-group">
        <label for="description">{{ 'general.description' | translate }}</label>
        <textarea class="form-control" id="description" name="description" #description="ngModel"
          [(ngModel)]="accessLinkEntity.description" rows="5" cols="50" maxlength="150"
          [readonly]="accessLinkEntity.wdReadOnly"></textarea>
        <small id="helperOpenUrl" class="form-text text-muted">{{accessLinkEntity.description.length}} {{
          'general.label_of' |
          translate }} 150</small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeCreateModel('CLOSE')">{{ 'general.label_cancel' |
      translate }}</button>
    <button *ngIf="!accessLinkEntity.wdReadOnly" type="button" class="btn btn-primary"
      (click)="closeCreateModel('SAVE')">{{ 'general.label_save' | translate
      }}</button>
  </div>
</ng-template>