<div class="col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">{{ 'principal.title' | translate | uppercase }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" *ngIf="identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">{{ 'page.title_access_link' | translate }} <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['wdproject/index']">{{ 'page.title_wd_project' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['wdknowledge/index']">{{ 'page.title_wd_knowledge' | translate }}</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-1"><button type="button" class="btn btn-outline-light"
            (click)="changeLang('es')">ES</button></li>
        <li class="nav-item mx-1"><button type="button" class="btn btn-outline-light"
            (click)="changeLang('en')">EN</button></li>
        <li class="nav-item mx-1"><button type="button" class="btn btn-outline-light"
            (click)="changeLang('pt')">PT</button></li>
      </ul>

      <ul class="navbar-nav navbar-right mr-4" *ngIf="identity">
        <!--<li class="avatar">
            <img src="{{url + 'get-image-file/' + identity.image}}"/>
         </li>-->
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/edituser', identity.id]" class="dropdown-item" href="#">{{ 'principal.label_user_data' |
              translate }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              {{ 'principal.label_logout' | translate }}
            </a>
          </div>
        </li>

      </ul>

      <!--  <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>-->
    </div>
  </nav>
  <ngb-alert *ngIf="appAlert.show==true && appAlert.alert!=null" [type]="appAlert.alert.type" (close)="closeAlert()">{{
    appAlert.alert.message | translate }}</ngb-alert>
</div>

<div class="container py-4">
  <router-outlet></router-outlet>
</div>