<div class="row">
    <!-- <div class="col-sm-4 col-md-4">
        <label for="page_items">{{ 'general.label_items_by_page' | translate }}</label>
    </div>-->
    <div class="col-sm-12 col-md-12">
        <select title="{{ 'general.label_items_by_page' | translate }}" class="custom-select form-control" name="page_items" (change)="pageLimitOnChanged($event.target.value)">
            <option *ngFor="let item of pageLimitOptions; let i = index" [value]="item.id" [selected]="i==0">
                {{item.label}}
            </option>
        </select>
    </div>
</div>