<app-app-parent-index [indexTitle]="title">

    <div index-action>
        <button (click)="reloadResults()" type="button" class="btn btn-secondary mr-3"><i class="fas fa-search"></i>
            {{ 'general.label_filter' | translate }}</button>
        <button (click)="navigateToCreate()" type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i>
            {{ 'general.label_create' | translate }}</button>

    </div>

    <div index-filter>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <form (ngSubmit)="reloadResults()" novalidate>
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'wdknowledge.index_label_search' | translate }}"
                            class="form-control" [(ngModel)]="queryFilter.query" name="query"
                            (keydown)="onSearchKeyDown($event)">
                        <div class="input-group-append" (click)="reloadResults()">
                            <span class="input-group-text item-action" id="basic-addon2"><i class="fas fa-search"
                                    title="{{ 'general.label_search' | translate }}"></i></span>
                        </div>
                    </div>
                    <small id="helperOpenUrl" class="form-text text-muted">{{
                        'general.label_helper_link_ctrl_enter' | translate}}</small>
                    <small id="helperOpenReadOnly" class="form-text text-muted">{{
                        'general.label_helper_ctrl_space' | translate}}</small>
                </form>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field id="matFormFieldTags" class="example-chip-list" appearance="fill">
                    <mat-label>{{ 'wdknowledge.label_tags_to_find' | translate }}</mat-label>
                    <mat-chip-list #chipList aria-label="Selection">
                        <mat-chip *ngFor="let tagItem of tagModel.values" [selectable]="tagModel.selectable"
                            [removable]="tagModel.removable" (removed)="remove(tagItem)">
                            {{tagItem.name}}
                            <mat-icon matChipRemove *ngIf="tagModel.removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="{{ 'wdknowledge.label_new_tag' | translate }}" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="tagModel.separatorKeysCodes"
                            [matChipInputAddOnBlur]="tagModel.addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <div class="float-right">
                    <span (click)="applyStatusFilter('INACTIVE')" *ngIf="queryFilter.status=='ACTIVE'"
                        class="ml-4 item-action"><i class="fas fa-toggle-on fa-lg-extra"
                            title="{{ 'general.label_actives' | translate }}"></i></span>
                    <span (click)="applyStatusFilter('ACTIVE')" *ngIf="queryFilter.status=='INACTIVE'"
                        class="ml-4 item-action"><i class="fas fa-toggle-off fa-lg-extra"
                            title="{{ 'general.label_desactives' | translate }}"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div index-body>

        <div *ngIf="showSection('loading')" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">{{ 'general.label_loading' | translate }}</span>
            </div>
        </div>

        <div *ngIf="showSection('not_found_results')" class="row mt-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="text-center">
                    <h4>{{ 'general.message_not_found_results' | translate }}</h4>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="float-right">
                    <app-app-page-limit (onSelectedPageOption)="onSelectedPageLimitOptionEvent($event)">
                    </app-app-page-limit>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-3" scope="col">{{ 'general.label_name' | translate }}</th>
                                <th class="col-5" scope="col">{{ 'general.label_summary' | translate }}</th>
                                <th class="col-2" scope="col">{{ 'general.label_last_update' | translate }}</th>
                                <th class="col-2" scope="col">{{ 'general.label_actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" *ngFor="let item of indexModel.result">
                                <td class="col-3">
                                    <a [routerLink]="['/wdknowledge/edit', item._id,0]">{{item.name}}</a>
                                </td>
                                <td class="col-5">
                                    <span *ngIf="item.summary && item.summary!=null">
                                        {{item.summary | textSubstring: 0 : 100 : '...'}}
                                    </span>
                                    <span *ngIf="!item.summary || item.summary==null">
                                        -
                                    </span>
                                </td>
                                <td class="col-2">
                                    <span *ngIf="item.updatedDate!=null">
                                        {{item.updatedDate | shortDateTime}}
                                    </span>
                                    <span *ngIf="item.updatedDate==null">
                                        -
                                    </span>
                                </td>
                                <td class="col-2">

                                    <span *ngIf="item.url && item.url!=null" (click)="openExternalLink(item.url)"
                                        class="item-action"><i class="fas fa-external-link-square-alt fa-lg"
                                            title="{{ 'wdknowledge.index_label_url' | translate }}"></i></span>
                                    <span *ngIf="!item.url || item.url==null"><i
                                            class="fas fa-unlink fa-lg text-secondary"
                                            title="{{ 'wdknowledge.index_label_unlink' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'INACTIVATE')"
                                        class="ml-4 item-action" *ngIf="item.status=='ACTIVE'"><i
                                            class="fas fa-toggle-on fa-lg"
                                            title="{{ 'general.label_active_desactive' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'ACTIVATE')" class="ml-4 item-action"
                                        *ngIf="item.status=='INACTIVE'"><i class="fas fa-toggle-off fa-lg"
                                            title="{{ 'general.label_active_desactive' | translate }}"></i></span>
                                    <span (click)="navigateToEdit(item._id)" class="ml-4 item-action"><i
                                            class="fas fa-edit fa-lg"
                                            title="{{ 'general.label_edit' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'DELETE')"
                                        class="ml-4 item-action"><i class="fas fa-trash-alt fa-lg"
                                            title="{{ 'general.label_remove' | translate }}"></i></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="float-right">
                    <app-pagination (onSelectedPage)="onSelectedPageEvent($event)" [total]="indexModel.count"
                        [sizePage]="pageFilter.limit"></app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-app-parent-index>