<app-app-parent-index [indexTitle]="title">
    <div index-action>
        <button (click)="onReload()" [disabled]="executingAction('onReload')" type="button" class="btn btn-primary">
            <i class="fas fa-sync"></i>
            {{ 'general.label_reload' | translate }}
        </button>
    </div>

    <div index-filter></div>

    <div index-body>

        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="wddata-tab" data-toggle="tab" href="#wddata" role="tab"
                        aria-controls="wddata" aria-selected="false">{{ 'wdproject.edit_label_data' | translate }}
                        ({{wdDataCount}})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="analisis-tab" data-toggle="tab" href="#analisis" role="tab"
                        aria-controls="analisis" aria-selected="true">{{ 'wdproject.edit_label_analisis' | translate
                        }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab"
                        aria-controls="project" aria-selected="false">{{ 'wdproject.edit_label_project' | translate
                        }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="wddata" role="tabpanel" aria-labelledby="wddata-tab">

                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-search"></i></span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="queryWDDataFilter.query"
                                            name="query" placeholder="{{ 'general.label_search' | translate }}"
                                            aria-describedby="basic-addon1"
                                            (keydown)="onWDDataKeyDown($event,CreateWDDataModal)">
                                    </div>
                                    <small id="helperOpenUrl" class="form-text text-muted">{{
                                        'wdproject.edit_text_helper_ctrl_enter' | translate}}</small>
                                    <small id="helperOpenModal" class="form-text text-muted">{{
                                        'wdproject.edit_text_helper_ctrl_space' | translate}}</small>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="float-right ml-3">
                                <button (click)="wdDataOpenCreatModal(CreateWDDataModal,null,false)"
                                    [disabled]="executingAction('onWDDataAdd')" type="button" class="btn btn-primary">
                                    <i class="fas fa-plus-circle"></i>
                                    {{ 'general.label_add' | translate }}
                                </button>
                            </div>
                            <div *ngIf="!wdDataIsDecoded && existsEncodedWDData()" class="float-right">
                                <button (click)="wdDataOpenDecodeModal(DecodeWDDataModal)"
                                    [disabled]="executingAction('onWDDataAdd')" type="button" class="btn btn-primary">
                                    <i class="fas fa-lock"></i>
                                    {{ 'wdproject.edit_label_decode' | translate }}
                                </button>
                            </div>
                            <div *ngIf="wdDataIsDecoded && existsEncodedWDData()" class="float-right">
                                <button (click)="wdDataEncodeValues()" [disabled]="executingAction('onWDDataAdd')"
                                    type="button" class="btn btn-danger">
                                    <i class="fas fa-lock-open"></i>
                                    {{ 'wdproject.edit_label_encode' | translate }}
                                </button>
                            </div>


                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <div *ngIf="showSection('wddata_empty')" class="row mt-3">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="text-center">
                                        <h4>{{ 'general.message_not_found_results' | translate }}</h4>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showSection('wddata_results')" class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr class="d-flex">
                                            <th class="col-3" scope="col">{{ 'general.label_name' | translate }}</th>
                                            <th class="col-7" scope="col">{{ 'general.label_value' | translate }}</th>
                                            <th class="col-2" scope="col">{{ 'general.label_actions' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex"
                                            *ngFor="let item of wdProjectEntity.wddata | searchgenericdata: queryWDDataFilter.query : 'name' | paginate: { itemsPerPage: wdDataItemsPerPage, currentPage: wdDataPage } ">
                                            <td class="col-3">
                                                <button type="button"
                                                    (click)="wdDataOpenCreatModal(CreateWDDataModal,item,true)"
                                                    class="btn btn-link">{{item.name}}</button>
                                            </td>
                                            <td class="col-7">
                                                <div *ngIf="item.encode && !wdDataIsDecoded">
                                                    <p class="text-danger"><i class="fas fa-lock"></i>
                                                        {{ 'wdproject.edit_label_wddata_encoded' | translate }} </p>
                                                </div>
                                                <div *ngIf="!item.encode || wdDataIsDecoded">
                                                    <p *ngIf="!item.isHref"><i *ngIf="item.encode"
                                                            class="fas fa-lock-open"></i> {{item.value}}</p>
                                                    <div *ngIf="item.isHref">
                                                        <i *ngIf="item.encode" class="fas fa-lock-open"></i> <button
                                                            (click)="openExternalLink(item.value)" type="button"
                                                            class="btn btn-link">{{item.value}}</button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-2">
                                                <span (click)="wdDataCopy(item)" class="item-action"><i
                                                        class="fas fa-copy fa-lg"
                                                        title="{{ 'general.label_copy' | translate }}"></i></span>
                                                <span *ngIf="item.url && item.url!=null"
                                                    (click)="openExternalLink(item.url)" class="ml-4 item-action"><i
                                                        class="fas fa-external-link-square-alt fa-lg"
                                                        title="{{ 'wdproject.index_label_href' | translate }}"></i></span>
                                                <span *ngIf="!item.url || item.url==null" class="ml-4"><i
                                                        class="fas fa-unlink fa-lg text-secondary"
                                                        title="{{ 'wdproject.index_label_unlink' | translate }}"></i></span>
                                                <span (click)="wdDataOpenCreatModal(CreateWDDataModal,item,false)"
                                                    class="ml-4 item-action"><i class="fas fa-edit fa-lg"
                                                        title="{{ 'general.label_edit' | translate }}"></i></span>
                                                <span (click)="openConfirmationDialog(item._id,'DELETE_WDDATA')"
                                                    class="ml-4 item-action"><i class="fas fa-trash-alt fa-lg"
                                                        title="{{ 'general.label_remove' | translate }}"></i></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="mt-3 d-flex justify-content-end" *ngIf="showSection('wddata_results')">
                                <pagination-controls (pageChange)="wdDataPage = $event" maxSize="10"
                                    previousLabel="{{ 'general.label_previous' | translate }}"
                                    nextLabel="{{ 'general.label_next' | translate }}" responsive="true">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="analisis" role="tabpanel" aria-labelledby="analisis-tab">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="float-right">
                                <button (click)="onNoteSave()" [disabled]="executingAction('onNoteSave')" type="button"
                                    class="btn btn-primary">
                                    <i class="fas fa-save"></i>
                                    {{ 'general.label_save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <div class="form-group">
                                <textarea [(ngModel)]="wdProjectNote" class="form-control rounded-0" id="wdProjectNote"
                                    rows="20" cols="155" maxlength=1000></textarea>
                                <small id="helperOpenUrl" class="form-text text-muted">{{wdProjectNote.length}} {{
                                    'general.label_of' |
                                    translate }} 1000</small>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="float-right">
                                <button (click)="onProjectSave()" type="button" class="btn btn-primary">
                                    <i class="fas fa-save"></i>
                                    {{ 'general.label_save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <form [ngClass]="{'was-validated': wdProjectIsNotValidToUpdate==true}">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="name">{{ 'general.label_name' | translate
                                        }}</label>
                                    <input type="text" class="form-control" id="name" name="name" #name="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.name" required>
                                </div>
                                <div class="form-group">
                                    <label for="client">{{ 'general.label_client' | translate }}</label>
                                    <input type="text" class="form-control" id="client" name="client" #client="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.client">
                                </div>
                                <div class="form-group">
                                    <label for="href">{{ 'general.url' | translate }}</label>
                                    <input type="text" class="form-control" id="href" name="href" #href="ngModel"
                                        [(ngModel)]="wdProjectEntityToUpdate.href">
                                </div>
                                <div class="form-check">
                                    <input [checked]="wdProjectEntityToUpdate.status=='ACTIVE'"
                                        (change)="onCheckboxIsActiveProject($event)" type="checkbox"
                                        class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">{{ 'wdproject.edit_label_active'
                                        | translate }}</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</app-app-parent-index>

<ng-template #CreateWDDataModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{ 'general.label_create' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="wdDataCloseCreateModel('CLOSE')">
            <span class="text-white" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [ngClass]="{'was-validated': wdDataAddEntity.isNotValid==true}">
            <div class="form-group">
                <label class="font-weight-bold" for="name">{{ 'general.label_name' | translate }}</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name" #name="ngModel"
                        [(ngModel)]="wdDataAddEntity.name" (keydown)="wdDataSaveKeyDown($event)"
                        [readonly]="wdDataAddEntity.wdReadOnly" required>
                    <div class="input-group-append" (click)="copyToClipboard(wdDataAddEntity.name)">
                        <span class="input-group-text item-action" id="basic-addon2"><i class="fas fa-copy fa-lg"
                                title="{{ 'general.label_copy' | translate }}"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div *ngIf="wdDataAddEntity.encode && wdDataAddEntity.wdDisabledEncrypt">
                    <label class="font-weight-bold" for="value">{{ 'general.label_value' | translate }}</label>
                    <p class="text-danger"><i class="fas fa-lock"></i>
                        {{ 'wdproject.edit_label_wddata_encoded' | translate }} </p>
                </div>

                <div *ngIf="!wdDataAddEntity.encode || !wdDataAddEntity.wdDisabledEncrypt">
                    <label class="font-weight-bold" for="value">{{ 'general.label_value' | translate }}</label>

                    <div class="input-group">
                        <input type="text" [disabled]="wdDataAddEntity.wdDisabledEncrypt"
                            [readonly]="wdDataAddEntity.wdDisabledEncrypt || wdDataAddEntity.wdReadOnly"
                            class="form-control" id="value" name="value" #value="ngModel"
                            [(ngModel)]="wdDataAddEntity.value" (keydown)="wdDataSaveKeyDown($event)" required>
                        <div class="input-group-append" *ngIf="!wdDataAddEntity.encode"
                            (click)="copyToClipboard(wdDataAddEntity.value)">
                            <span class="input-group-text item-action" id="basic-addon2"><i class="fas fa-copy fa-lg"
                                    title="{{ 'general.label_copy' | translate }}"></i></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="url">{{ 'general.url' | translate }}</label>
                <div class="input-group">

                    <input type="text" class="form-control" id="url" name="url" #url="ngModel"
                        [(ngModel)]="wdDataAddEntity.url" (keydown)="wdDataSaveKeyDown($event)"
                        [readonly]="wdDataAddEntity.wdReadOnly">
                    <div class="input-group-append" (click)="openExternalLinkFromInput()">
                        <span class="input-group-text item-action" id="basic-addon2"><i
                                class="fas fa-external-link-square-alt fa-lg"
                                title="{{ 'general.label_open_url' | translate }}"></i></span>
                    </div>
                    <div class="input-group-append" (click)="copyToClipboard(wdDataAddEntity.url)">
                        <span class="input-group-text item-action" id="basic-addon2"><i class="fas fa-copy fa-lg"
                                title="{{ 'general.label_copy' | translate }}"></i></span>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <label for="description">{{ 'general.description' | translate }}</label>
                <textarea type="text" class="form-control rounded-0" id="description" name="description"
                    #description="ngModel" [(ngModel)]="wdDataAddEntity.description"
                    [readonly]="wdDataAddEntity.wdReadOnly" rows="4" cols="50" maxlength=500></textarea>
                <small id="helperOpenUrl" class="form-text text-muted">{{wdDataAddEntity.description.length}} {{
                    'general.label_of' |
                    translate }} 500</small>
            </div>
            <div class="form-group form-check">
                <input [disabled]="wdDataAddEntity.wdDisabledEncrypt || wdDataAddEntity.wdReadOnly"
                    [checked]="wdDataAddEntity.encode==true" (change)="onCheckboxEncode($event)" type="checkbox"
                    class="form-check-input" id="encodedCheck">
                <label class="form-check-label" for="encodedCheck">{{ 'general.label_encrypt'
                    | translate }}</label>
                <small *ngIf="wdDataAddEntity.wdDisabledEncrypt && !wdDataAddEntity.wdReadOnly" id="encryptHelp"
                    class="form-text text-muted">
                    {{ 'wdproject.edit_label_encode_warning' | translate }}
                </small>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="wdDataCloseCreateModel('CLOSE')">{{
            'general.label_cancel' | translate }}</button>
        <button *ngIf="!wdDataAddEntity.wdReadOnly" type="button" class="btn btn-primary"
            (click)="wdDataCloseCreateModel('SAVE')">{{ 'general.label_save' |
            translate }}</button>
    </div>
</ng-template>

<ng-template #DecodeWDDataModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{ 'wdproject.edit_label_decode' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="wdDataCloseDecodeModel('CLOSE')">
            <span class="text-white" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [ngClass]="{'was-validated': wdDecodeModel.isNotValid==true}">
            <div class="form-group">
                <label class="font-weight-bold" for="code">{{ 'wdproject.edit_label_password' | translate }}</label>
                <input type="password" class="form-control" id="code" name="code" #code="ngModel"
                    [(ngModel)]="wdDecodeModel.code" (keydown)="wdDataDecodeKeyDown($event)" required>
            </div>
            <app-app-caps-on></app-app-caps-on>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="wdDataCloseDecodeModel('CLOSE')">{{
            'general.label_cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="wdDataCloseDecodeModel('ACCEPT')">{{
            'general.label_accept' | translate }}</button>
    </div>
</ng-template>