<app-app-parent-index [indexTitle]="title">

    <div index-action>
        <button (click)="reloadResults()" type="button" class="btn btn-secondary mr-3"><i class="fas fa-search"></i>
            {{ 'general.label_filter' | translate }}</button>
        <button (click)="openCreateModal(CreateWDProjectModal)" type="button" class="btn btn-primary"><i
                class="fas fa-plus-circle"></i>
            {{ 'general.label_create' | translate }}</button>
    </div>

    <div index-filter>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <form (ngSubmit)="reloadResults()" novalidate>
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'wdproject.index_label_search' | translate }}"
                            class="form-control" [(ngModel)]="queryFilter.query" name="query">
                        <div class="input-group-append" (click)="reloadResults()">
                            <span class="input-group-text item-action" id="basic-addon2"><i class="fas fa-search"
                                    title="{{ 'general.label_search' | translate }}"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="float-right">
                    <span (click)="applyStatusFilter('INACTIVE')" *ngIf="queryFilter.status=='ACTIVE'"
                        class="ml-4 item-action"><i class="fas fa-toggle-on fa-lg-extra" title="{{ 'general.label_actives' | translate }}"></i></span>
                    <span (click)="applyStatusFilter('ACTIVE')" *ngIf="queryFilter.status=='INACTIVE'"
                        class="ml-4 item-action"><i class="fas fa-toggle-off fa-lg-extra" title="{{ 'general.label_desactives' | translate }}"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div index-body>

        <div *ngIf="showSection('loading')" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">{{ 'general.label_loading' | translate }}</span>
            </div>
        </div>

        <div *ngIf="showSection('not_found_results')" class="row mt-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="text-center">
                    <h4>{{ 'general.message_not_found_results' | translate }}</h4>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="float-right">
                    <app-app-page-limit (onSelectedPageOption)="onSelectedPageLimitOptionEvent($event)">
                    </app-app-page-limit>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-4" scope="col">{{ 'general.label_name' | translate }}</th>
                                <th class="col-4" scope="col">{{ 'general.label_client' | translate }}</th>
                                <th class="col-2" scope="col">{{ 'wdproject.index_label_last_update' | translate }}</th>
                                <th class="col-2" scope="col">{{ 'general.label_actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" *ngFor="let item of indexModel.result">
                                <td class="col-4">
                                    <a [routerLink]="['/wdproject/edit', item._id]">{{item.name}}</a>
                                </td>
                                <td class="col-4">
                                    <span *ngIf="item.client && item.client!=null">
                                        {{item.client}}
                                    </span>
                                    <span *ngIf="!item.client || item.client==null">
                                        -
                                    </span>
                                </td>
                                <td class="col-2">
                                    <span *ngIf="item.updatedDate!=null">
                                        {{item.updatedDate | shortDateTime}}
                                    </span>
                                    <span *ngIf="item.updatedDate==null">
                                        -
                                    </span>
                                </td>
                                <td class="col-2">

                                    <span *ngIf="item.href && item.href!=null" (click)="openExternalLink(item.href)"
                                        class="item-action"><i class="fas fa-external-link-square-alt fa-lg"
                                            title="{{ 'wdproject.index_label_href' | translate }}"></i></span>
                                    <span *ngIf="!item.href || item.href==null"><i
                                            class="fas fa-unlink fa-lg text-secondary"
                                            title="{{ 'wdproject.index_label_unlink' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'INACTIVATE')"
                                        class="ml-4 item-action" *ngIf="item.status=='ACTIVE'"><i
                                            class="fas fa-toggle-on fa-lg"
                                            title="{{ 'general.label_active_desactive' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'ACTIVATE')" class="ml-4 item-action"
                                        *ngIf="item.status=='INACTIVE'"><i class="fas fa-toggle-off fa-lg"
                                            title="{{ 'general.label_active_desactive' | translate }}"></i></span>
                                    <span (click)="openConfirmationDialog(item._id,'DELETE')"
                                        class="ml-4 item-action"><i class="fas fa-trash-alt fa-lg"
                                            title="{{ 'general.label_remove' | translate }}"></i></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="showSection('results')" class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="float-right">
                    <app-pagination (onSelectedPage)="onSelectedPageEvent($event)" [total]="indexModel.count"
                        [sizePage]="pageFilter.limit"></app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-app-parent-index>

<ng-template #CreateWDProjectModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{ 'general.label_create' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeCreateModel('CLOSE')">
            <span class="text-white" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [ngClass]="{'was-validated': entityToCreate.isNotValid==true}">
            <div class="form-group">
                <label class="font-weight-bold" for="title">{{ 'general.label_name' | translate }}</label>
                <input type="text" class="form-control" id="name" name="name" #title="ngModel"
                    [(ngModel)]="entityToCreate.name" required>
            </div>
            <div class="form-group">
                <label for="client">{{ 'general.label_client' | translate }}</label>
                <input type="text" class="form-control" id="client" name="client" #client="ngModel"
                    [(ngModel)]="entityToCreate.client">
            </div>
            <div class="form-group">
                <label for="href">{{ 'general.url' | translate }}</label>
                <input type="text" class="form-control" id="href" name="href" #href="ngModel"
                    [(ngModel)]="entityToCreate.href">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="closeCreateModel('CLOSE')">{{ 'general.label_cancel' | translate }}</button>
        <button type="button" class="btn btn-primary"
            (click)="closeCreateModel('SAVE')">{{ 'general.label_save' | translate }}</button>
    </div>
</ng-template>