/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
  cursor: pointer;
}

.fa-md {
  font-size: 16px;
}

.fa-lg {
  font-size: 20px;
}

.fa-lg-extra {
  font-size: 36px;
}

.item-action{
  cursor: pointer;
}

.btn-circle.btn-md { 
  width: 50px; 
  height: 50px; 
  padding: 7px 10px; 
  border-radius: 25px; 
  font-size: 12px; 
  text-align: center; 
} 

.btn-circle.btn-xl { 
  width: 70px; 
  height: 70px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  font-size: 18px;
  text-align: center; 
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
