<app-app-parent-index [indexTitle]="title">
    <div index-action></div>
    <div index-filter></div>

    <div index-body>

        <div class="col-md-6 col-lg-6 offset-md-3">
            <div class="card border-primary">
                <div class="card-body">
                    <form #edituserForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">{{ 'general.label_email' | translate }}</label>
                            <input readonly type="email" class="form-control" name="email" #email="ngModel"
                                [(ngModel)]="model.email" aria-describedby="emailHelp"
                                placeholder="{{ 'general.placeholder_email' | translate }}" required>
                            <small id="emailHelp" class="form-text text-muted">{{ 'createuser.label_help_edit_email' |
                                translate
                                }}</small>
                            <span class="text-danger" *ngIf="!email.valid && email.touched">
                                {{ 'login.error_required_email' | translate }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="name">{{ 'createuser.label_name' | translate }}</label>
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="model.name"
                                placeholder="{{ 'createuser.placeholder_name' | translate }}" required>
                            <span class="text-danger" *ngIf="!name.valid && name.touched">
                                {{ 'createuser.error_required_name' | translate }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="surname">{{ 'createuser.label_surname' | translate }}</label>
                            <input type="text" class="form-control" name="surname" #surname="ngModel"
                                [(ngModel)]="model.surname"
                                placeholder="{{ 'createuser.placeholder_surname' | translate }}" required>
                            <span class="text-danger" *ngIf="!surname.valid && surname.touched">
                                {{ 'createuser.error_required_surname' | translate }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="locale">{{ 'createuser.label_lang' | translate }}</label>
                            <select class="custom-select form-control" name="locale" #locale="ngModel"
                                [(ngModel)]="model.locale" required>
                                <option *ngFor="let item of model.locales; let i = index" [value]="item.lang"
                                    [selected]="i==0">
                                    {{item.label}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" (click)="onUpdatePassword($event)" class="form-check-input"
                                id="change_password">
                            <label class="form-check-label" for="change_password">{{ 'createuser.label_edit_password' |
                                translate }}</label>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'general.label_current_password' | translate }}</label>
                            <input [readonly]="model.updatePassword==false" type="password" class="form-control"
                                name="currentpassword" #currentpassword="ngModel" [(ngModel)]="model.currentPassword"
                                placeholder="{{ 'general.placeholder_current_password' | translate }}">
                            <app-app-caps-on></app-app-caps-on>
                            <span class="text-danger"
                                *ngIf="!currentpassword.valid && currentpassword.touched && model.updatePassword==true">
                                {{ 'createuser.error_required_current_password' | translate }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'general.label_new_password' | translate }}</label>
                            <input [readonly]="model.updatePassword==false" type="password" class="form-control"
                                name="password" #password="ngModel" [(ngModel)]="model.password"
                                placeholder="{{ 'general.placeholder_password' | translate }}">
                            <app-app-caps-on></app-app-caps-on>
                            <span class="text-danger"
                                *ngIf="!password.valid && password.touched && model.updatePassword==true">
                                {{ 'login.error_required_password' | translate }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">{{ 'general.label_new_confirm_password' | translate }}</label>
                            <input [readonly]="model.updatePassword==false" type="password" class="form-control"
                                name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword"
                                placeholder="{{ 'createuser.placeholder_confirm_password' | translate }}">
                            <app-app-caps-on></app-app-caps-on>
                            <span class="text-danger"
                                *ngIf="!confirmPassword.valid && confirmPassword.touched && model.updatePassword==true">
                                {{ 'createuser.error_required_confirm_pass' | translate }}
                            </span>
                            <span class="text-danger"
                                *ngIf="confirmPassword.valid && confirmPassword.touched && model.updatePassword==true && model.confirmPassword!==model.password">
                                {{ 'createuser.error_notmatch_password' | translate }}
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-lg-6 text-left">
                                <button (click)="openModalDeleteAccount(DeleteAccountModal)"
                                    [disabled]="executingAction('onDeleteAccount')" type="button"
                                    class="btn btn-danger">
                                    {{ 'createuser.label_delete_account' | translate }}
                                </button>
                            </div>

                            <div class="col-md-6 col-lg-6 text-right">
                                <button (click)="cancelAction()" type="button" class="btn btn-secondary mr-4"
                                    [disabled]="executingAction('onCancel')">{{'general.label_cancel' | translate
                                    }}</button>
                                <button (click)="confirmationAction()" type="button" class="btn btn-primary"
                                    [disabled]="!edituserForm.form.valid">{{
                                    'general.label_edit' | translate }}</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</app-app-parent-index>

<ng-template #DeleteAccountModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{ 'createuser.confirm_delete_account' | translate }}</h4>
        <button [disabled]="executingAction('onAcceptDeleteAccount')" type="button" class="close" aria-label="Close"
            (click)="onActionDeleteAccountModal('CLOSE')">
            <span class="text-white" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [ngClass]="{'was-validated': wdDeleteAccountModel.isNotValid==true}">
            <div class="form-group">
                <label class="font-weight-bold" for="wdDataKey">{{ 'general.label_password' | translate }}</label>
                <input [readonly]="executingAction('onAcceptDeleteAccount')" type="password" class="form-control"
                    id="wdDataKey" name="wdDataKey" #wdDataKey="ngModel" [(ngModel)]="wdDeleteAccountModel.wdDataKey"
                    required>
            </div>
            <div class="form-group">
                <p *ngIf="wdDeleteAccountModel.message!=null" class="text-danger">{{wdDeleteAccountModel.message}}</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onActionDeleteAccountModal('CLOSE')"
            [disabled]="executingAction('onCancelDeleteAccount')">{{
            'general.label_cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="onActionDeleteAccountModal('ACCEPT')"
            [disabled]="executingAction('onAcceptDeleteAccount')">
            <span *ngIf="executingAction('onAcceptDeleteAccount')==true" class="spinner-border spinner-border-sm"
                role="status" aria-hidden="true"></span>
            <span>{{'general.label_accept' | translate }}</span>
        </button>
    </div>
</ng-template>